<!-- Team -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].about.section | default: "about" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].about.title | default: "About Us" }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <div class="large text-muted">{{ site.data.sitetext[site.locale].about.body | markdownify }}</div>
      </div>
    </div>
  </div>
</section>
<div style="background-color: #fffaf1; padding-right: 350px; padding-left: 350px;">
  <div class="row" style="justify-content: space-around">
    
    <div class="text-center">
      <img src="assets/img/team/2.jpg" alt="Avatar" style="border-radius: 50%;" width="200" height="200">
      <h4 style="margin-bottom:40px">Enrique Díaz</h4>
    </div>
    <div class="text-center">
      <img src="assets/img/team/4.jpg" alt="Avatar" style="border-radius: 50%;" width="200" height="200">
      <h4 style="margin-bottom:40px">Octavio Díaz</h4>
    </div>
    <div class="text-center">
      <img src="assets/img/team/3.jpg" alt="Avatar" style="border-radius: 50%;" width="200" height="200">
      <h4 style="margin-bottom:40px">Paul Solis</h4>
    </div>
    <div class="text-center">
      <img src="assets/img/team/1.jpg" alt="Avatar" style="border-radius: 50%;" width="200" height="200">
      <h4 style="margin-bottom:40px">Venecia Paz</h4>
    </div>
    
  </div>
  <div class="row" style="justify-content: space-around"> 
    <div class="text-center">
      <img src="assets/img/team/6.jpg" alt="Avatar" style="border-radius: 50%;" width="200" height="200">
      <h4 style="margin-bottom:40px">Andrea Conde</h4>
    </div>
    <div class="text-center">
      <img src="assets/img/team/5.jpg" alt="Avatar" style="border-radius: 50%;" width="200" height="200">
      <h4 style="margin-bottom:40px">Roberto Martínez</h4>
    </div>
    <div class="text-center">
      <img src="assets/img/team/7.jpg" alt="Avatar" style="border-radius: 50%;" width="200" height="200">
      <h4 style="margin-bottom:40px">David Mendieta</h4>
    </div>
    <div class="text-center">
      <img src="assets/img/team/8.jpg" alt="Avatar" style="border-radius: 50%;" width="200" height="200">
      <h4 style="margin-bottom:40px">Jose Miguel Ruiz</h4>
    </div>
  </div>
  <div class="row" style="justify-content: space-around"> 
    <div class="text-center">
      <img src="assets/img/team/10.jpg" alt="Avatar" style="border-radius: 50%;" width="200" height="200">
      <h4 style="margin-bottom:40px">Claudio Rivera</h4>
    </div>
  </div>
</div>
<!-- End Team -->