<!-- Video -->
<section class="page-section" id="portfolio" style="background-color:#556776">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].portfolio.title | markdownify | default: "Portfolio" }}</h2>
        {% if site.data.sitetext[site.locale].portfolio.text %}
          <h3 class="section-subheading" style=" margin-bottom: 15px; color:#fffaf1;">{{ site.data.sitetext[site.locale].portfolio.text }}</h3>
		  {% endif %}
      </div>
    </div>

    <div>
      <div style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
        <video width="75%" height="75%" controls="false" autoplay="" loop="true" muted="">
          <source src="assets/BBS_Trailer.mp4" type="video/mp4">
        </video>
      </div>
      <div style="text-align: center; padding: 50px;">
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/mindaro">Read more</a>
      </div>
    </div>

  </div>
</section>
<!-- End Video Grid -->